* {
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: rgb(255, 30, 0);
  --color-secondary: rgb(55, 146, 55);
  --dark: black;
  --dark-red: rgb(149, 1, 1);
  --dark-green: rgb(30, 81, 40);
  --dark-green-opa: rgba(30, 81, 40, 0.9);
  --shadow: black;
}

h1 {
  font-family: "Mountains of Christmas";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

pre {
  font-family: "Mountains of Christmas";
  font-size: 25px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

/* == main start ==  */
/* ///////////////// */
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial;
  text-shadow: 0 0 1px #000;
}

@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes snowflakes-fall {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0px);
  }
}
.snowflake {
  position: fixed;
  top: -10%;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  -webkit-animation-name: snowflakes-fall, snowflakes-shake;
  -webkit-animation-duration: 10s, 3s;
  -webkit-animation-timing-function: linear, ease-in-out;
  -webkit-animation-iteration-count: infinite, infinite;
  -webkit-animation-play-state: running, running;
  animation-name: snowflakes-fall, snowflakes-shake;
  animation-duration: 10s, 3s;
  animation-timing-function: linear, ease-in-out;
  animation-iteration-count: infinite, infinite;
  animation-play-state: running, running;
}
.snowflake:nth-of-type(0) {
  left: 1%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(1) {
  left: 10%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(2) {
  left: 20%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(3) {
  left: 30%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(4) {
  left: 40%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(5) {
  left: 50%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(6) {
  left: 60%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(7) {
  left: 70%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(8) {
  left: 80%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(9) {
  left: 90%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

.snowflake:nth-of-type(10) {
  left: 90%;
  -webkit-animation-delay: 0s, 0s;
  animation-delay: 0s, 0s;
}
.snowflake:nth-of-type(11) {
  left: 80%;
  -webkit-animation-delay: 1s, 1s;
  animation-delay: 1s, 1s;
}
.snowflake:nth-of-type(12) {
  left: 70%;
  -webkit-animation-delay: 6s, 0.5s;
  animation-delay: 6s, 0.5s;
}
.snowflake:nth-of-type(13) {
  left: 60%;
  -webkit-animation-delay: 4s, 2s;
  animation-delay: 4s, 2s;
}
.snowflake:nth-of-type(14) {
  left: 50%;
  -webkit-animation-delay: 2s, 2s;
  animation-delay: 2s, 2s;
}
.snowflake:nth-of-type(15) {
  left: 40%;
  -webkit-animation-delay: 8s, 3s;
  animation-delay: 8s, 3s;
}
.snowflake:nth-of-type(16) {
  left: 30%;
  -webkit-animation-delay: 6s, 2s;
  animation-delay: 6s, 2s;
}
.snowflake:nth-of-type(17) {
  left: 20%;
  -webkit-animation-delay: 2.5s, 1s;
  animation-delay: 2.5s, 1s;
}
.snowflake:nth-of-type(18) {
  left: 10%;
  -webkit-animation-delay: 1s, 0s;
  animation-delay: 1s, 0s;
}
.snowflake:nth-of-type(19) {
  left: 1%;
  -webkit-animation-delay: 3s, 1.5s;
  animation-delay: 3s, 1.5s;
}

/* Demo Purpose Only*/

/* ////  ==header== ////*/

.main__header .snowflakes {
  width: 100%;
  height: 1200px;
  position: absolute;
  top: -90px;
  left: 0;
}

i,
i:after,
i:before {
  background: white;
}
i {
  display: inline-block;
  -webkit-animation: snowflakes 3s linear 2s 20;
  -moz-animation: snowflakes 3s linear 2s 20;
  position: relative;
}
i:after,
i:before {
  height: 100%;
  width: 100%;
  content: ".";
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transform: rotate(120deg);
}
i:before {
  -webkit-transform: rotate(240deg);
}

@-webkit-keyframes snowflakes {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg) scale(0.6);
  }
  100% {
    -webkit-transform: translate3d(15px, 1200px, 0px) rotate(360deg) scale(0.6);
  }
}

.main__header .snowflakes i:nth-child(3n) {
  width: 16px;
  height: 4px;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: 30;
  -webkit-transform-origin: right -45px;
}

.main__header .snowflakes i:nth-child(3n + 1) {
  width: 24px;
  height: 6px;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: 45;
  -webkit-transform-origin: right -30px;
}

.main__header .snowflakes i:nth-child(3n + 2) {
  width: 32px;
  height: 8px;
  -webkit-animation-duration: 8s;
  -webkit-animation-iteration-count: 60;
  -webkit-transform-origin: right -15px;
}

/* different delays so they don't all start at the same time */
.main__header .snowflakes i:nth-child(7n) {
  opacity: 0.3;
  -webkit-animation-delay: 0s;
  -webkit-animation-timing-function: ease-in;
}
.main__header .snowflakes i:nth-child(7n + 1) {
  opacity: 0.4;
  -webkit-animation-delay: 1s;
  -webkit-animation-timing-function: ease-out;
}
.main__header .snowflakes i:nth-child(7n + 2) {
  opacity: 0.5;
  -webkit-animation-delay: 1.5s;
  -webkit-animation-timing-function: linear;
}
.main__header .snowflakes i:nth-child(7n + 3) {
  opacity: 0.6;
  -webkit-animation-delay: 2s;
  -webkit-animation-timing-function: ease-in;
}
.main__header .snowflakes i:nth-child(7n + 4) {
  opacity: 0.7;
  -webkit-animation-delay: 2.5s;
  -webkit-animation-timing-function: linear;
}
.main__header .snowflakes i:nth-child(7n + 5) {
  opacity: 0.8;
  -webkit-animation-delay: 3s;
  -webkit-animation-timing-function: ease-out;
}
.main__header .snowflakes i:nth-child(7n + 6) {
  opacity: 0.9;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-timing-function: ease-in;
}

.main__header {
  position: relative;
  display: flex;
  background-color: var(--color-primary);

  height: 450px;
  backdrop-filter: blur(15px);
  overflow: hidden;
}

.main__header--logoimg,
.main__header--wish {
  margin: 10px;
}

.main__header--logo img {
  margin-top: 8rem;
  width: 150px;
  height: 150px;
  border: 6px solid white;
}

.main__header--wish {
  display: flex;
  flex-direction: column;
}

.main__header--wish h3 {
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}

.main__header--wish p {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Mountains of Christmas";
  margin-top: 1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.main__header--wish img {
  width: 100%;
  height: 300px;
}

/* ////  ==Body== ////*/
.main__body {
  background: url(assert/bodybg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border: 8px solid rgb(218, 165, 32);
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.main__body--discount {
  position: absolute;
  margin-top: -85px;
  align-items: center;
  border-radius: 12px;
  width: 300px;
  height: 50px;
  background: red;
  padding-left: 30px !important;
  padding: 10px 0;
  font-size: 25px;
  color: white;
  box-shadow: 6px 5px 12px black;
}

.main__body--discount:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 18px solid red;
  border-top: 33px solid transparent;
  border-bottom: 33px solid transparent;
}

/* for all items in body */
.main__body--card {
  padding: 10px;
  margin-top: 30px;
  margin: 10px;
  width: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

/* for each item card style */
.main__body--card__inner {
  position: relative;
  padding: 0;
  margin: 0;
  border-radius: 180px / 300px;
  overflow: hidden;
  width: 270px;
  height: 420px;
  cursor: pointer;
  border: none;
  box-shadow: 0 5px 15px var(--shadow);
  /* background-color: var(--dark-green); */
}

.main__body--card__inner:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}

/* for card image style */

.main__body--card__inner--image {
  width: 100%;
  max-height: 400px;
}

.main__body--card__inner--image img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

/* for card content style */
.main__body--card__inner--content {
  position: absolute;
  bottom: -370px;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 30, 0, 0.6));
  backdrop-filter: blur(15px);
  min-height: 530px;
  width: 100%;
  transition: bottom 0.4s ease-in-out;
  box-shadow: 0 -10px 10px rgba(255, 30, 0, 0.1);
  border-top: 1px solid rgba(218, 165, 32, 0.9);
}

.main__body--card__inner:hover .main__body--card__inner--content {
  bottom: 0px;
}

.main__body--card__inner--content pre {
  margin-top: 40px;
}

.main__body--card__inner:hover .main__body--card__inner--content h4 {
  transform: translateY(80px);
  opacity: 1;
}

.main__body--card__inner--content p {
  margin-top: 150px;
  padding: 15px;
}

.main__body--card__inner:hover .main__body--card__inner--content p {
  transform: translateY(50px);
  opacity: 1;
  margin-top: 30px;
}

.main__body--card__inner--content h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-50px);
  transition-delay: 0.2s;
}

.main__body--card__inner--content p {
  font-size: 0.9rem;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-align: center;
  transition: 0.8s;
  font-weight: 500;
  opacity: 0;
  transform: translateY(-5px);
  transition-delay: 0.3s;
}

/* for each item button style */
.main__body--card__button {
  background-color: var(--color-secondary);
  margin-top: 2rem;
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 150px;
  box-shadow: 0 5px 15px var(--shadow);
  transition: 0.2s ease-in-out;
}

.main__body--card__button a {
  font-weight: 550;
  padding-left: 2rem;
  padding-top: 1rem;
  position: absolute;
}

.main__body--card__button:hover {
  transform: scale(1.1);
  font-weight: 800;
  background-color: var(--color-primary);
}

@media screen and (max-width: 1050px) {
  .main__body--card {
    margin-bottom: 5rem;
  }
}

/* ///////////////// */
/* == main END ==  */

/* == Footer start == */
/* ///////////////// */
#footer {
  background-color: var(--dark);
  color: white;
}

.footer--section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer--section__logo img {
  width: 150px;
  height: 150px;
  margin: 15px;
  border: 6px solid white;
}

.footer--section__contact {
  padding-left: 50% !important;
  padding: 20px;
}

.footer--section__contact p {
  font-size: 1.2rem;
}

.footer--section__contact a {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  font-weight: 550;
}

.footer--section__contact a:hover {
  color: lightgray;
  font-weight: 550;
}

.footer--copywrite {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 10px 0;
}

.footer--copywrite__link {
  color: lightgray;
  text-decoration: none;
}
.footer--copywrite__link:hover {
  color: white;
  font-weight: 500;
}

@media screen and (max-width: 700px) {
  .footer--section__contact {
    padding-left: 30% !important;
  }
}
/* ///////////////// */
/* == Footer END == */
